* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 30px;
    background-color: azure;

}

li {

    font-size: 30px;
    color: aqua;
    margin: 0;
    border: 0;
    cursor: pointer;
    vertical-align: middle;
    background: none;
    position: relative;
    display: inline-block;
    padding: 0 30px;
    color: #fff;
    letter-spacing: -.5px;
   

}
li>Link{
     text-decoration: none;
}

li:hover:after,
li:hover:before {
    width: 100%;
}

li:after,
li:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    width: 0%;
    height: 3px;
    background-color: #ffe800;
    transform: translateX(-50%);
    -webkit-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.message {
    margin: 20px;
    background-color: aquamarine;
    padding: 20px;
}
.data{
    margin: 30px;
}