.container{
    display: grid;
  gap: 50px;
   grid-template-areas: 'title title title'
   'posts stories stories';
   background-color: rgb(197, 238, 209);
}
.title{
    grid-area: title;
    color: rgb(111,250,25);
    padding: 30px;
}
.posts{
grid-area: posts;
margin-left: 35px;
padding: 10px;
}
.posts>h2{
    margin: 20px;
}
.posts>button{
    margin: 30px;
    padding: 15px 25px;
    font-size: 20px;
}
.stories{
  grid-area: stories;
  background-color: rgb(0,100,30);
  padding: 30px;
  border-radius: 5px;
}
.preview{
    height: 300px;
    text-overflow: ellipsis;
    overflow: auto;
z-index: 10;

}